.box{
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    border:1px solid black;
    align-items: center;
    text-align: center;
    padding-top:80px;
    font-size: 18px;
    margin-top:10px;
    border-radius: 15px;
    font-size: 26px;
}
